<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="online.laoliang.simpleweather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChooseAreaActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.WelcomeActivity"/>
        <activity android:name=".activity.FeedBackACtivity"/>
        <activity
            android:name=".activity.ChooseThemeActivity"
            android:theme="@style/FloatActivity"/>

        <service android:name=".service.AutoUpdateService"/>
        <service android:name=".service.TimerService"/>

        <receiver android:name=".receiver.AutoUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".provider.WidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_1_config"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="online.laoliang.simpleweather.MY_WIDGETPROVIDER_BROADCAST"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
